@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To DeveloperAssessmentFor_KnilaItSolutions</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
@*</div>*@

@{
    ViewData["Title"] = "Home Page";
}

<!-- Include Google Fonts link -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<div class="text-center" style="font-family: 'Roboto', sans-serif;">
    <h1 class="display-4">Welcome To DeveloperAssessmentFor_KnilaItSolutions</h1>
    
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>


